<h2>Order a Burger!</h2>
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li> #{{this.id}} - {{this.burger_name}} </li>
    {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li> {{this.id}} * {{this.burger_name}} </li>
    {{/if}}
    {{/each}}
</ul>