<h1>Burger Time!</h1>

<h2>Order a Burger!</h2>
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <span> {{this.id}} * {{this.burger_name}} </span>
    {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    <span> {{this.id}} * {{this.burger_name}} </span>
    {{/if}}
    {{/each}}
</ul>